#navbarResponsive {
    display: flex;
    justify-content: center;
}

#navbarResponsive ul.navbar-nav {
    text-align: center;
}

#navbarResponsive ul.navbar-nav li {
    display: inline-block;
    margin-right: 15px; /* Adjust this value as needed */
}

#navbarResponsive ul.navbar-nav li:last-child {
    margin-right: 0;
}
